<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../utils/style.css">
</head>

<body>
    <h2>Make your localhost live</h2>
    <form onsubmit="return false" method="get">
        <input type="text" id="ePort" name="ePort" placeholder="Enter port number">
        <input type="text" id="eSubdomain" name="eSubdomain" placeholder="Enter a subdomain name">
        <button onclick="createSubdomain()">Start</button>
    </form>
    <script>
        const createSubdomain = () => {
            const ePort = document.forms[0].elements['ePort'].value;
            const eSubdomain = document.forms[0].elements['eSubdomain'].value;


        }
    </script>
</body>

</html>